In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
x=df.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"],axis=1)
y= df["Survived"]

#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

#applying tree algorithm
tree = tree.DecisionTreeClassifier()  
nada=tree.fit(x_train, y_train)   #fitting our model
y_pred=tree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.770949720670391

In [ ]:
import matplotlib.pyplot as plt
from graphviz import Source
dot_data = tree.export_graphviz(tree, out_file=None)
graph = graphviz.Source(dot_data) 
graph.render("df")
graph

AttributeError: ignored

In [ ]:
print(df.isnull().sum())
df['Age'].fillna(df['Age'].mean(),inplace=True)
print(df['Cabin'])
print(df["Cabin"].value_counts())
df["Cabin"].fillna('G6',inplace=True)
naz=LabelEncoder() 
df['Cabin']=naz.fit_transform(df['Cabin'])
naz=LabelEncoder() 
df['Sex']=naz.fit_transform(df['Sex'])
df['Survived']=naz.fit_transform(df['Survived'])
df

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64
0      145
1      140
2      145
3      145
4       38
      ...
886    145
887    145
888    145
889    145
890    145
Name: Cabin, Length: 891, dtype: int64
145    691
47       4
63       4
141      3
62       3
      ...
95       1
97       1
99       1
100      1
0        1
Name: Cabin, Length: 147, dtype: int64

     PassengerId  Survived  Pclass  ...     Fare  Cabin  Embarked
0            343         0       2  ...  13.0000    145         S
1             76         0       3  ...   7.6500    140         S
2            641         0       3  ...   7.8542    145         S
3            568         0       3  ...  21.0750    145         S
4            672         0       1  ...  52.0000     38         S
..           ...       ...     ...  ...      ...    ...       ...
886           10         1       2  ...  30.0708    145         C
887           61         0       3  ...   7.2292    145         C
888          535         0       3  ...   8.6625    145         S
889          102         0       3  ...   7.8958    145         S
890          428         1       2  ...  26.0000    145         S

[891 rows x 12 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
x=df[["Age", "Sex","SibSp","Parch","Cabin"]]
y= df["Survived"]

#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

#applying tree algorithm
tree = tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train)   #fitting our model
y_pred=tree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7597765363128491

on remarque que le score a diminuer par rapport au premier split car on a diminuer le nombre d'attribut en splitant

In [ ]:
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier #Importing Random Forest Classifier
from sklearn import metrics
x=df[["Age", "Sex","SibSp","Parch","Cabin","Fare"]]
y= df["Survived"] 

#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

clf=RandomForestClassifier(n_estimators=10)  #Creating a random forest with 100 decision trees
clf.fit(x_train, y_train)  #Training our model
y_pred=clf.predict(x_test)  #testing our model
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))  #Measuring the accuracy of our model

Accuracy: 0.8044692737430168

en utilisant randomforest on remarque que le score a augmentè le resulat est bcp plus pertinent